<div class="profile-wrap">
  <div class="profile_card text-center">
    <%# <%= image_tag @user.profile_image_url(:thumb) if @user.profile_image.present? %> 
        <div class="row ">
            <div class="col-md-4">
            <%= image_tag (@user.profile_image.thumb.url [class: "round-img"]) if @user.profile_image.present? %>
            </div>
        
            <div class="col-md-3 username">
             <h2><%=@user.name %></h2>
            </div>
            <div class="col-md-5">
              <div class="edit-right">
                <% if current_user.id == @user.id %>  
                  <%= link_to edit_user_path(@user) do%>
                  <i class="far fa-edit"></i>
                  <%end%>
                <%end%>
              </div>
            </div>
         </div>
        <div class="intro-space">
         <%=@user.introduction%>
        </div> 
    </div>
  </div>
</div>



